pipeline/3_pl_Ingestion_Product_To_parquet.json
{
	"name": "3_pl_Ingestion_Product_To_parquet",
	"properties": {
		"activities": [
			{
				"name": "Lookup for product row count",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) as product_cnt from saleslt.product;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azsql_general_use_tbl",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "SalesLT",
							"tableName": "Customer"
						}
					}
				}
			},
			{
				"name": "If Condition check for product count",
				"description": "If Condition check for product count is grater than 10",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup for product row count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Lookup for product row count').output.firstRow.product_cnt, 10)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_azsql_general_use_tbl",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": "SalesLT",
										"tableName": "Product"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_azadlsg2_general_use_snappy_parquet",
									"type": "DatasetReference",
									"parameters": {
										"directryName": "product_if_cond"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}