pipeline/4_pl_copy_product_address_data_fm_tbl_files.json
{
	"name": "4_pl_copy_product_address_data_fm_tbl_files",
	"properties": {
		"description": "pl_copy_product_address_data_fm_tbl_files_executepipeline",
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "3_pl_Ingestion_Product_To_parquet",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "lookup_address_row_count",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) as address_cnt from saleslt.address;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azsql_general_use_tbl",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "saleslt",
							"tableName": "address"
						}
					}
				}
			},
			{
				"name": "If Condition check address row count",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "lookup_address_row_count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('lookup_address_row_count').output.firstRow.address_cnt, 100)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data address tbl to adlsg2 as parquet",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_azsql_general_use_tbl",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": "SalesLT",
										"tableName": "Address"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_azadlsg2_general_use_snappy_parquet",
									"type": "DatasetReference",
									"parameters": {
										"directryName": "product_check_copy_address"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}