pipeline/Copy Data From CSV on Blob To TBL on AZSQL.json
{
	"name": "Copy Data From CSV on Blob To TBL on AZSQL",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata on folder in adls container",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Execute Pipeline To Copy Data From TBL to CSV on Blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_test_csv_files",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata on folder in adls container",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata on folder in adls container').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_test_csv_files",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_azsql_tbl",
									"type": "DatasetReference",
									"parameters": {
										"tblName": {
											"value": "@split(string(item().name), '.')[1]",
											"type": "Expression"
										},
										"schemaName": "SALESDEST"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Execute Pipeline To Copy Data From TBL to CSV on Blob",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Copy Data From TBL to CSV on Blob",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"inputTBLArray": {
							"value": "@pipeline().parameters.inputFilesArray",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"inputFilesArray": {
				"type": "array"
			}
		},
		"annotations": []
	}
}